<div class="panel panel-default">

	<div class="panel-heading">Now playing</div>

	<app-error-alert *ngIf="playerError" [error]="playerError">poop</app-error-alert>

	<div class="panel-body" *ngIf="nowPlaying">
		<img src="{{ nowPlaying.item.album.images[1].url }}" class="pull-left" style="margin-right: 10px">
		<h4>{{ nowPlaying.item.name }} </h4>
		<h5> {{ nowPlaying.item.artists[0].name }} - {{ nowPlaying.item.album.name }} </h5>
		<div class="progress">
			<div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuemin="0" aria-valuemax="100"></div>
		</div>

	</div>

	<div class="panel-body" *ngIf="!nowPlaying">
		<h5>Have a <a href="https://open.spotify.com">Spotify session</a> open and interact with it (press play).</h5>
	</div>

</div>