<div class="panel panel-default">

	<div class="panel-heading">Now playing</div>

	<app-error-alert *ngIf="playerError" [error]="playerError">poop</app-error-alert>

	<div class="panel-body" *ngIf="nowPlaying">
		<img src="{{ nowPlaying.item.album.images[1].url }}" class="pull-left" style="margin-right: 10px">
		<h4>{{ nowPlaying.item.name }} </h4>
		<h5> {{ nowPlaying.item.artists[0].name }} - <a target="_blank" href="{{ nowPlaying.item.album.external_urls.spotify }}">
		{{ nowPlaying.item.album.name }} </a></h5>
		<div class="progress">
			<div class="progress-bar " role="progressbar" [style.width]="progress + '%'" aria-valuemin="0" aria-valuemax="100"></div>
		</div>

 		<small class="text-muted small pull-right"> selected by {{firstTrack.addedBy}} </small>

	</div>

	<div class="panel-body" *ngIf="!nowPlaying">
		<img width="300px" height="300px" class="pull-left" style="margin-right: 10px">
		<h5><a href="https://open.spotify.com" target="_blank">Open Spotify</a> open and press play.<br/><br/>Then refresh this page.</h5>
	</div>

</div>