<div class="panel panel-default">

  <div class="panel-heading">Now playing: <b>{{ station }} station</b> - {{ now }}</div>

  <app-error-alert *ngIf="playerError" [error]="playerError">poop</app-error-alert>

  <div class="panel-body" *ngIf="nowPlaying">
    <ng-template [ngIf]="nowPlaying.album.images.length > 1" [ngIfElse]="fallbackImg">
      <img src="{{ nowPlaying.album.images[1].url }}" class="pull-left" style="margin-right: 10px">
    </ng-template>
    <ng-template #fallbackImg>
      <img src="{{ nowPlaying.album.images[0].url }}" class="pull-left" style="margin-right: 10px">
    </ng-template>
    <h4>{{ nowPlaying.name }} </h4>
    <h5> {{ nowPlaying.artists[0].name }} - 
      <a target="_blank" href="{{ nowPlaying.album.external_urls.spotify }}">{{ nowPlaying.album.name }}</a>
    </h5>
    <div class="progress">
      <div class="progress-bar " role="progressbar" [style.width]="progress + '%'" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <ng-template [ngIf]="firstTrack?.player?.auto" [ngIfElse]="userInfo">
      <small class="text-muted small pull-right"> 
        🤖 (via {{ firstTrack.added_by }})
      </small>
    </ng-template>
    <ng-template #userInfo>
      <small class="text-muted small pull-right"> 
        {{ firstTrack.added_by }} 
      </small>
    </ng-template>
  </div>

  <div class="panel-body" *ngIf="!nowPlaying">
    <img width="300px" height="300px" class="pull-left" style="margin-right: 10px">
    <h5><a href="https://open.spotify.com" target="_blank">Open Spotify</a> and press play.<br/><br/>Then refresh this page.</h5>
  </div>

</div>