<div *ngIf="userPlaylists?.items" class="card w-100 mb-3">
  <div class="card-header">
    <span *ngIf="!curPlaylistTracks?.items">Playlists</span>
    <a [routerLink]="" *ngIf="curPlaylistTracks?.items" (click)="back()">Playlists</a>
    <span *ngIf="curPlaylistTracks?.items" class="text-truncate"> / {{ curPlaylistName }} </span>

    <span class="button float-right fa fa-chevron-right text-primary cursor-pointer"
    (click)="nextPlaylistPage()" *ngIf="!curPlaylistTracks?.items && (curPlaylistOffset + pageSize < userPlaylists.total)"></span> 
    <span class="float-right fa fa-chevron-left text-primary mx-3 cursor-pointer"
    (click)="prevPlaylistPage()" *ngIf="!curPlaylistTracks?.items && (curPlaylistOffset > 0)" ></span>

    <span class="button float-right fa fa-chevron-right text-primary cursor-pointer"
    (click)="nextTracksPage()" *ngIf="curPlaylistTracks?.items && (curTracksOffset + pageSize < curPlaylistTracks?.total)"></span> 
    <span class="float-right fa fa-chevron-left text-primary mx-3 cursor-pointer"
    (click)="prevTracksPage()" *ngIf="curPlaylistTracks?.items && (curTracksOffset > 0)" ></span>


  </div>
  <div class="card-body text-primary bg-light" *ngIf="!curPlaylistTracks?.items">
    <div class="card mb-3 border-primary" *ngFor="let playlist of userPlaylists.items; let i = index">
      <div class="card-body cursor-pointer" (click)="clickedPlaylist(playlist)">
        <img width="96" class="float-left mr-2" src="{{ playlist.images[0].url }}" *ngIf="playlist.images?.length">
        <span class="float-right fa fa-chevron-right"></span>
        <h4 class="card-title text-truncate">{{ playlist.name }} </h4>
        <h5 class="card-subtitle text-truncate">{{ playlist.owner.display_name }}</h5>
      </div>
    </div>
  </div>
  <div class="card-body text-primary bg-light" *ngIf="curPlaylistTracks?.items">
    <div class="card mb-3 border-primary" *ngFor="let track of curPlaylistTracks.items; let i = index">
      <div class="card-body cursor-pointer" (click)="pushTrack(track.track, i)">
        <img width="96" class="float-left mr-2" src="{{ track.track.album.images[1].url }}" *ngIf="track.track.album?.images?.length">
        <span class="float-right fa" [class.fa-plus]="clicked !== i" [class.fa-check]="clicked === i">
        </span>
        <h4 class="card-title text-truncate">{{ track.track.name }} </h4>
        <h5 class="card-subtitle text-truncate">{{ track.track.artists[0].name}} -
        {{ track.track.album.name }} </h5>
      </div>
    </div>
  </div>
</div>
