<div *ngIf="userPlaylists?.items" class="card w-100">
  <div class="card-header">Your Playlists:
  <span style="cursor: pointer" class="button float-right fa fa-chevron-right text-primary"
  (click)="nextPlaylistPage()" *ngIf="curPlaylistOffset + pageSize < userPlaylists.total"></span> 
  <span style="cursor: pointer" class="float-right fa fa-chevron-left text-primary mx-3"
  (click)="prevPlaylistPage()" *ngIf="curPlaylistOffset > 0" ></span>
</div>
  <div class="card-body text-primary">
    <div class="card mb-3 border-primary" *ngFor="let playlist of userPlaylists.items; let i = index">
      <div class="card-body" style="cursor: pointer"
        (click)="clickedPlaylist(playlist)">
        <img width="64" class="float-left mr-2" src="{{ playlist.images[0].url }}">
        <span class="float-right fa fa-chevron-right">
        </span>
        <h5 class="card-title">{{ playlist.name }} </h5>
        <h6 class="card-subtitle">{{ playlist.owner.display_name }}</h6>
      </div>
    </div>
  </div>
</div>
