<ngb-carousel #carousel (slide)="onSlide($event)" [showNavigationIndicators]="false" [showNavigationArrows]="true" [interval]="false">
  <ng-template ngbSlide id={{station.key}} *ngFor="let station of stations; index as i">
    <div class="card w-100 bg-dark" *ngIf="nowPlaying" style="min-height:640px">
      <div class="card-header text-white h3"> Now Playing: Radio {{ currentStation }}</div>
      <div class="card-body">
        <div class="card w-75 mx-auto">
          <img class="card-img-top" *ngIf="showNowPlaying" src="{{ nowPlaying.album.images[0].url }}">
          <img class="card-img-top" src="assets/placeholder_300.png" *ngIf="!showNowPlaying">

          <div class="card-body" *ngIf="showNowPlaying">
            <h3 class="text-truncate">{{ nowPlaying.name }} </h3>
            <h4 class="text-truncate"> 
              <span *ngIf="nowPlaying.explicit">🅴</span>
              {{ nowPlaying.artists[0].name }} - 
              <a target="_blank" href="{{ nowPlaying.album.external_urls.spotify }}">{{ nowPlaying.album.name }}</a>
            </h4>
            <div class="progress">
              <div class="progress-bar " role="progressbar" [style.width]="progress + '%'" aria-valuemin="0" aria-valuemax="100">

              </div>
            </div>

            <ng-template [ngIf]="firstTrack?.player?.auto" [ngIfElse]="notRobot">
              <small class="text-muted small float-right my-2"> 
                🤖 (via {{ firstTrack.added_by }})
              </small>
            </ng-template>
            <ng-template #notRobot>
              <small class="text-muted small float-right my-2"> 
                {{ firstTrack.added_by }} 
              </small>
            </ng-template>
            <br /> <br /> 
            <span class="fa fa-step-forward float-right text-primary cursor-pointer" *ngIf="showSkip" (click)="skipTrack(firstTrack, firstTrackKey)"></span>

            <span class="fa fa-plus float-right text-primary cursor-pointer" (click)="saveTrack(firstTrack)" *ngIf="showPushButton && !clicked"></span>

            <span class="fa fa-check float-right text-secondary" *ngIf="clicked"></span>

          </div>

        </div>
      </div>
    </div>

    <!-- When we ain't communicating with a Spotify session --> 
    <div class="card w-100 bg-dark" *ngIf="!nowPlaying" style="min-height:640px">
      <div class="card-header text-white"> Lookin for ur Spotify... </div>
      <div class="card-body">
        <div class="card w-75 mx-auto">
          <img class="card-img-top" src="assets/initial_placeholder.png">
          <div class="card-body">
            <h5>Spotty Radio can play music directly through Chrome. <br /> <br /> If you use Safari, you just need to <a href="https://open.spotify.com" target="_blank">open Spotify</a> and press play.</h5>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
