
<div class="container">

  <div class="row"> 
    <div class="col-6 mt-3 h-100 align-self-center">

      <h2>Spotify Party Radio (<a href="https://github.com/TheLoombot/spotify-party-radio" target="_blank">GitHub</a>)</h2>
    </div>
    <div class="col-6 mt-3 h-100">
      <app-perform-login *ngIf="!appEnabled"> </app-perform-login>
      <app-logged-in-user *ngIf="appEnabled"></app-logged-in-user>
      <app-alert *ngIf="!appEnabled"></app-alert>
    </div>

  </div>

  <!-- Components that could appear here: SinglePlayerStation or Callback --> 
  <router-outlet></router-outlet>

</div>

