<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">Deep State Radio</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/TheLoombot/deep-strafe">Github</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <app-alert *ngIf="!appEnabled"></app-alert>
  <div class="row">
    <div class="col-md-6"> 
      <div class="row">
        <div class="col-md-12" *ngIf="appEnabled">
          <app-player></app-player>
        </div>
        <div class="col-md-12" *ngIf="appEnabled">
          <app-playlist></app-playlist>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-6" *ngIf="appEnabled">
      <app-search></app-search>
    </div>
  </div>
</div>

