<div class="panel panel-primary">
	<div class="panel-heading">Playlist</div>

	<div class="panel-body" *ngIf="tracks">

		<div class="alert alert-danger" *ngIf="playBackResponse">{{ playBackResponse }} -- <a href="https://open.spotify.com/"> Open a Spotify session</a> and interact with it (press Play)</div>

		<div class="panel panel-primary" *ngFor="let track of tracks">
			<div (click)="playTrack(track.uri)" class="panel-body">   
				<img src="{{ track.imageUrl }}" class="pull-left" style="margin-right: 10px">
				<h4>{{ track.trackName }} </h4>
				<h5> {{ track.artistName }} - {{ track.albumName }} </h5>
			</div>
		</div>
	</div>
</div>