<div class="panel panel-default">
  <div class="panel-heading">Up next</div>
  <div class="panel-body" *ngIf="tracks">
    <div class="panel panel-default" *ngFor="let track of tracks | slice:1; index as i; last as isLast" >
      <div class="panel-body">
        <img src="{{ track.image_url }}" class="pull-left" style="margin-right: 10px">
        <h4> {{ track.name }} </h4>
        <h5> {{ track.artist_name }} - {{ track.album_name }} </h5>
        <span class="glyphicon glyphicon-remove pull-right text-primary" style="cursor: pointer" *ngIf="isLast" (click)="removeTrack(track)"></span>
      </div>
    </div>
    <h5 *ngIf="tracks.length < 2">👈🏽 Add something, will ya</h5>
  </div>
</div>