
<div class="row align-self-center">
  <!-- it's kosher to nest columns in columns! --> 
  <div class="col-md-6"> 
    <div class="col-12 my-3">
      <app-playerpicker [currentStation]="station"></app-playerpicker>
    </div>
    <div class="col-12 my-3">
      <app-station-pool [currentStation]="station" *ngIf="userOwnsStation()"></app-station-pool>
    </div>
  </div>

  <div class="col-md-6"> 
    <div class="col-12 my-3">
      <app-add-tracks [currentStation]="station" *ngIf="userOwnsStation()"></app-add-tracks>
      <app-chat [currentStation]="station"></app-chat>
    </div>
  </div>
</div>