  <div class="panel panel-primary">

  	<div class="panel-heading">Login</div>

    <div class="panel-body" *ngIf="user">
      <img src="{{ user.images[0].url }}" class="pull-left" style="margin-right: 10px" *ngIf="user.images">
      <h4>Hola, <a href="{{ user.external_urls.spotify }}">{{ user.id }}</a>.</h4>
      <h5> You've got {{ user.product }} access.</h5>
    </div>

  	<div class="panel-body" *ngIf="accessTokenNew" style="word-wrap: break-word">
  		New access token from Spotify:	{{ accessTokenNew }} <br />
      (<a href="http://localhost:4200/#access_token={{ accessTokenNew }}">apply to localhost</a>)
  	</div>

  	<div class="panel-body" *ngIf="accessTokenStored" style="word-wrap: break-word">
  		Using stored access token: {{ accessTokenStored }}
  	</div>

  	<div class="panel-body" *ngIf="!hasToken">
  		<button (click)="authSpotify()">Sign in with Spotify</button>
  	</div>

  </div> 
