<div *ngIf="topTracksEnabled" class="card w-100">
  <div class="card-header">Your top Spotify tracks:</div>
  <div class="card-body text-primary" *ngIf="topTracks?.items">
    <div class="card mb-3 border-primary" *ngFor="let track of topTracks.items; let i = index">
      <div class="card-body" style="cursor: pointer"
        (click)="pushTrack(track, i)">
        <img class="float-left" src="{{ track.album.images[2].url }}">
        <span class="float-right fa" 
          [class.fa-plus]="clicked !== i"
          [class.fa-check]="clicked === i">
        </span>
        <h5 class="card-title">{{ track.name }} </h5>
        <h6 class="card-subtitle">{{ track.artists[0].name }} - {{ track.album.name }}</h6>
      </div>
    </div>
  </div>
</div>
