  <div class="panel panel-primary">

  	<div class="panel-heading">Search</div>

  	<div class="panel-body">

  		<input type="text" class="form-control" style="font-size: 16px;"
  		(keyup)="searchTerm$.next($event.target.value)" spellcheck="false">

      <br>

      <app-error-alert *ngIf="searchError" [error]="searchError"></app-error-alert>

  		<div *ngIf="results?.tracks">
  			<div class="panel panel-primary" *ngFor="let track of results.tracks.items" >
            <div (click)="pushTrack(track)" class="panel-body">   
              <img src="{{ track.album.images[2].url }}" class="pull-left" style="margin-right: 10px">
              <span *ngIf="!inPlaylist"class="pull-right glyphicon glyphicon-plus"></span>
              <span *ngIf="inPlaylist"class="pull-right glyphicon glyphicon-minus  "></span>
              <h4>{{ track.name }} </h4>
              <h5> {{ track.artists[0].name }} - {{ track.album.name }} </h5>
            </div>
  			</div>
  		</div>
  	</div>
  </div>