  <div class="panel panel-default">

  	<div class="panel-heading">Search for and add tracks</div>

  	<div class="panel-body">

  		<input type="text" class="form-control" style="font-size: 16px;"
  		(keyup)="searchTerm$.next($event.target.value)" spellcheck="false">

      <br>

      <app-error-alert *ngIf="searchError" [error]="searchError"></app-error-alert>

  		<div *ngIf="results?.tracks" class="text-primary">
  			<div class="panel panel-primary" *ngFor="let track of results.tracks.items; let i = index" >
            <div (click)="pushTrack(track, i)" class="panel-body" style="cursor: pointer">   
              <img src="{{ track.album.images[2].url }}" class="pull-left" style="margin-right: 10px">
              <span class="pull-right glyphicon glyphicon-plus" [class.glyphicon-ok]="clicked === i"></span>
              <h4>{{ track.name }} </h4>
              <h5> {{ track.artists[0].name }} - {{ track.album.name }} </h5>
            </div>
  			</div>
  		</div>
  	</div>
  </div>